<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Staff Management</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Service Management</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Room Management</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Guest Management</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-calendar menu-icon"></i><span class="nav-text">Booking Management</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Testimonial Management</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Index/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Contact Messages</span>
                </a>
            </li>
            <li>
                <a href="/SendMessage/Index/" aria-expanded="false">
                    <i class="icon-paper-plane menu-icon"></i><span class="nav-text">Send Messages</span>
                </a>
            </li>
        </ul>
    </div>
</div>